/* blue:
Hex: #4286f4
rgba: */

/* purple: #aa8cc5*/

/* pink: #ef7667 */

* {
  box-sizing: border-box;
}

body {
  font-family: 'Raleway', sans-serif, bold;
  -webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Rozha One', serif;
  font-weight: 400;
}

.cf:before, .cf:after {
  content: '';
  display: table;
}

.cf:after {
  clear: both;
}

.wrapper {
  width: 100%;
  max-width: 100%;
  margin: 0 auto;

}

.banner {
  padding: 10em 5em;
  height: 700px;
}

.headshot {
  border-radius: 200px;
  height: 250px;
  width: 250px;
}

.logo {
  float: left;
  background: #03A678;
  border-radius: 100%;
  width: 100px;
  height: 100px;
  line-height: 100px;
  text-align: center;
  color: white;
  font-size: 1.5em;
  font-family: 'Rozha One';
  font-weight: bold;
}

h1 {
  color: #414148;
  text-align: right;
  font-size: 5em;
  display: inline;
  float: right;
  margin: 0;
}

.row {
  width: 100%;
  margin-bottom: 2em;
  display: table;

}

.work {
  background: #414148;
  padding: 5em 5em;
}

.card {
  // padding: 5em 0;
  background: white;
  border-radius: .35em;
  // height: 450px;
  display: table;
  background-repeat: no-repeat;
  width: 100%;
  min-height: 410px;
  max-height: 500px;
}

.contactinfo {
  margin: 40px 10px 40px 10px;
}

// .card_full {
//   width: 100%;
//   float left;
// }


// .card_1 {
//     background-image: url('../img/wym.png');
//     size: 100%;
// }

.card_inner {
    display: inline-block;
    vertical-align: middle;
    height: 100%;
    width: 100%;
    padding: 5em 12%;
    font-size: 1em;
    color: white;

}

.babbl {
  background-image: url('../img/babbl.png');
}

.impact {
  background-image: url('../img/impact.png');
  background-size: 50%;
  text-align: right;

}

.wym {
  background-image: url('../img/wym.png');
  background-position: right;
}

.green {
    background-color: rgba(3, 166, 120, .6);
    border-radius: .35em;
}

.blue {
  background-color: rgba(66, 134, 244, .6);
  border-radius: .35em;
}

.pink {
  background-color: rgba(239, 118, 103, .6);
  border-radius: .35em;
}

h2 {
  color: white;
  font-size: 3em;
  margin: 0;
}

.wrap {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: minmax(125px, auto);
  grid-gap: .5rem;
}

// .box{
//   height: 450px;
//   display: block;
//   font-size: 4rem;
//   color: white;
//   position: relative;
// }
