@mixin bg_img($url, $size, $position) {
  background-image: url($url);
  background-size: $size;
  background-position: $position;
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Raleway', sans-serif, bold;
  -webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Rozha One', serif;
  font-weight: 400;
}

.cf:before, .cf:after {
  content: '';
  display: table;
}

.cf:after {
  clear: both;
}

.wrapper {
  width: 1000px;
  max-width: 100%;
  margin: 0 auto;
}

/*.banner {
  padding: 5em 0;
  .logo {
    float: left;
    background: #414148;
    border-radius: 100%;
    width: 75px;
    height: 75px;
    line-height: 75px;
    text-align: center;
    color: white;
    font-size: 1.1em;
    font-family: 'Rozha One';
    font-weight: bold;
  }
  h1 {
    color: #414148;
    text-align: right;
    font-size: 5em;
    display: inline;
    float: right;
    margin: 0;
  }
}*/

.banner {
  padding: 5em 0;
}

.headshot {
  border-radius: 200px;
  height: 250px;
  width: 250px;
}

.logo {
  float: left;
  background: #03A678;
  border-radius: 100%;
  width: 75px;
  height: 75px;
  line-height: 75px;
  text-align: center;
  color: white;
  font-size: 1.1em;
  font-family: 'Rozha One';
  font-weight: bold;
}

h1 {
  color: #414148;
  text-align: right;
  font-size: 5em;
  display: inline;
  float: right;
  margin: 0;
}

.work {
  background: #03A678;
  padding: 5em 0;
  .card {
    background: white;
    border-radius: .35em;
    height: 450px;
    display: table;
  }
  .card_full {
    width: 100%;
  }
  .card_1 {
    @include bg_img(, 100%, 100px, 100px);
  }
  .card_inner {
    display: table-cell;
    vertical-align: middle;
    height: 100%;
    padding: 1.5em 12%;
  }
  .green {
    background-color: rgba(3,166,120,.6);
  }
}
